
<section class="login-section">

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-5">

        <div class="login-card">

          <h2>Welcome Back</h2>

          <p>Login to your DoctorCare account</p>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <!-- Email -->
            <div class="mb-3">

              <input type="email"
                     class="form-control"
                     placeholder="Email"
                     formControlName="email">

              <small *ngIf="submitted && f['email'].errors"
                     class="text-danger">
                Valid email required
              </small>

            </div>

            <!-- Password -->
            <div class="mb-3 password-box">

              <input [type]="showPassword ? 'text' : 'password'"
                     class="form-control"
                     placeholder="Password"
                     formControlName="password">

              <span class="toggle"
                    (click)="togglePassword()">

                👁

              </span>

              <small *ngIf="submitted && f['password'].errors"
                     class="text-danger">
                Password is required
              </small>

            </div>

            <!-- Button -->
            <button class="btn btn-primary w-100">
              Login
            </button>

          </form>

          <p class="mt-3 text-center">

            Don't have an account?

            <a routerLink="/register">Register</a>

          </p>

        </div>

      </div>

    </div>

  </div>

</section>